/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 0.063em;
    border: 0;
    border-top: 0.063em solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    font-family: Arial, helvetica, sans-serif !important;
}

p {
    font-size: 0.813em;
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff0,3a1a41100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff0,f3f3f350,ededed51,ffffff100;WhiteGloss%232 */
    background: #dddddc;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.sticky-btn {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

header {
    background-color: #4b8284;
}

nav {
    -webkit-box-shadow: 0px 0.188em 0.625em 0.063em rgba(163, 163, 163, 1);
    -moz-box-shadow: 0px 0.188em 0.625em 0.063em rgba(163, 163, 163, 1);
    box-shadow: 0px 0.188em 0.625em 0.063em rgba(163, 163, 163, 1);
}

a {
    text-decoration: none;
}

.paddingless {
    padding: 0 !important;
}

.wrapper {
    padding: 0.625em;
    max-width: 85.375em;
    margin: 0 auto;
    margin-top: 5em;
}

.clear {
    clear: both;
}

.mobile {
    display: none !important;
}

a.view-comment {
    color: #4b8284;
    cursor: pointer;
    text-decoration: underline;
}

a.view-comment:active {
    color: #4b8284;
    cursor: pointer;
    text-decoration: none;
}

.old-comments {
    margin-bottom: 1em;
}

.old-comments p {
    background: rgb(238, 246, 247);
    padding: 1em;
    margin-bottom: 0.3em;
    margin-top: 0em;
}

.comments button {
    float: right;
}

.comments textarea {
    width: 70%;
}

nav ul {
    list-style: none;
    margin: 0 auto;
    max-width: 85.375em;
    padding: 0;
}


/* Desktop view */

@media screen and (min-width: 768px) {
    .mobi-nav {
        padding-left: 2.5em;
        display: none;
    }
    nav ul {
        display: flex;
        height: 5em;
        background-color: #4b8284;
    }
    nav ul li a.navi-item {
        display: block;
        height: 2.188em;
        padding: 1.875em 0.625em 0.938em 0.625em;
        color: white;
    }
    nav ul li a.navi-item:hover {
        height: 2.188em;
        padding: 1.875em 0.625em 0.938em 0.625em;
        background-color: white;
        color: #4b8284;
    }
    nav ul img {
        padding: 0.938em;
    }
    nav ul li a.svg {
        position: relative;
        display: inline-block;
        padding: 0em 2em;
    }
    nav ul li a.svg:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .half {
        width: 49%;
        float: left;
    }
    .third {
        width: 30%;
        float: left;
    }
    .two-thirds {
        width: 61%;
        float: left;
    }
    .profile-wrapper {
        width: 100%;
    }
    .mobile {
        display: block !important;
    }
}


/* Mobile view */

@media screen and (max-width: 768px) {
    ul.main-nav {
        text-align: center;
        padding: 0;
        background-color: #28616d;
        transition: opacity 1s ease-out;
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
    ul.main-nav.active {
        opacity: 1;
        height: auto;
        transition: opacity 1s ease-out;
    }
    ul.main-nav li a {
        display: block;
        color: white;
        height: 2.188em;
        padding: 1em 0 0.5em 0;
    }
    ul.main-nav li a:hover {
        background-color: white;
        color: #4b8284;
        height: 2.188em;
        padding: 1em 0 0.5em 0;
    }
    .mobi-nav {
        padding-left: 2.5em;
        padding-bottom: 0.5em;
        padding: 0 0 0.5em;
    }
    .mobi-button {
        float: right;
        font-size: 1.5em;
        color: white;
        padding: 1em 1em 0 0;
        cursor: pointer
    }
    .mobi-button:active {
        float: right;
        font-size: 1.5em;
        color: #28616d;
        padding: 1em 1em 0 0;
        cursor: pointer
    }
    a.svg {
        position: relative;
        display: inline-block;
        margin-left: 2em;
    }
    a.svg:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    aside {
        display: none;
    }
}

figure img {
    max-width: 100%;
    width: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.container {
    border: #AAAAAA 0.063em solid;
    background-color: #FFF;
    margin: 0.625em;
    -webkit-box-shadow: 0em 0.625em 1.563em 0.188em rgba(133, 133, 133, 0.61);
    -moz-box-shadow: 0em 0.625em 1.563em 0.188em rgba(133, 133, 133, 0.61);
    box-shadow: 0em 0.625em 1.563em 0.188em rgba(133, 133, 133, 0.61);
    padding: 1.250em;
    overflow: auto;
}

.container section p {
    overflow: hidden;
}

.text-align-center {
    text-align: center;
}

.profile-wrapper {
    width: 60%;
    margin: 0 auto;
}

.profile-img-size {
    width: 50%;
}



.marginless {
    margin: 0;
}

.centering-wrapper {
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
}

.marginless {
    margin: 0;
}

.centering-wrapper img {
    max-width: 100%;
    width: auto;
}

footer {
    text-align: center;
    padding-top: 6.250em;
}

.svg-logo {
    height: 50px;
    margin-top: 1em;
    margin-right: 2em;
}

.input-field {
    box-shadow: 0 0 1px #4a7e84;
}

.green-button {
    background-color: #4a7e84;
    border: none;
    font-family: Arial;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 0.625em;
    font-size: 0.75em;
    overflow: hidden;
    position: relative;
}


.green-button input.file-input {
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    position: absolute;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 0.063em;
    margin: -0.063em;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0.063em;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 0.063em solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}