/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    font-family: Arial, helvetica, sans-serif !important;
}

p {
    font-size: 0.813em;
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,3a1a41+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
    background: #dddddc;
}

nav {
    background-color: #4b8284;
}

a {
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0 auto;
    max-width: 85.375em;
    height: 5em;
}

nav ul a li {
    color: white;
    height: 2.188em;
    padding: 1.875em 0.625em 0.938em 0.625em;
}

nav ul a li:hover {
    background-color: white;
    color: #4b8284;
    height: 2.188em;
    padding: 1.875em 0.625em 0.938em 0.625em;
}

nav ul img {
    padding: 0.938em;
}



.navWrapper {}

.paddingless {
    padding: 0 !important;
}

.wrapper {
    padding: 0.625em;
    max-width: 85.375em;
    margin: 0 auto;
}

.clear {
    clear: both;
}

@media screen and (min-width: 768px) {
    .half {
        width: 49%;
        float: left;
    }
    .third {
        width: 30%;
        float: left;
    }
    .two-thirds {
        width: 61%;
        float: left;
    }
	.profilewrapper{
		width: 100%;
	}	
}

figure img {
    max-width: 100%;
    width: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}


.container {
    border: #AAAAAA 1px solid;
    background-color: #FFF;
    margin: 0.625em;
    -webkit-box-shadow: 0em 0.625em 1.563em 0.188em rgba(133, 133, 133, 0.61);
    -moz-box-shadow: 0em 0.625em 1.563em 0.188em rgba(133, 133, 133, 0.61);
    box-shadow: 0em 0.625em 1.563em 0.188em rgba(133, 133, 133, 0.61);
    padding: 1.250em;
}

.container section p {
    overflow: hidden;
}

.text-align-center{
    text-align: center;
}

.profilewrapper{
	width: 60%;
	margin: 0 auto;
}

.profile-img-size{
    width: 50%;
}

.green-button{
    background-color: #4a7e84;
    border: none;
    font-family: Arial;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 0.625em;
    font-size: 0.75em;
}

.input-field{
    box-shadow: 0 0 1px #4a7e84;
}

.green_button{
    background-color: #4a7e84;
    border: none;
    font-family: Arial;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 0.625em;
    font-size: 0.75em;
    overflow: hidden;
    position: relative;
}

.green_button input.file-input{
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.centering-wrapper{
	max-width: 70%;
	/*min-width: 50%;*/
	text-align: center;
	margin: 0 auto;
}

.marginless{
    margin: 0;
}

.centering-wrapper img{
	max-width: 100%;
    width: auto;
}

footer {
    text-align: center;
    padding-top: 6.250em;
}

.svg-logo {
    height: 50px;
    width: 71px;
    margin-top: 1em;
    margin-right: 2em;
}

a.svg {
    position: relative;
    display: inline-block;
}

a.svg:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}